{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Apollo Home </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/sign_up.css' %}">

</head>
<body>
    <img src="http://www.apollotelehealth.com:9013/images/athsnewlogos.png" alt="Smiley face" width="70" height="70">
<hr>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
  {% if user.is_authenticated %}

    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'my_task' %}">My Task </a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
            <li style="margin: 16px">Hello : {{ user.first_name }}</li>
            <li><a href="{% url 'log_out' %}"><span class="glyphicon glyphicon-log-in"></span> Log-out</a></li>
        {% endif %}

    </ul>
  </div>
</nav>
</body>
</html>
